div:nth-child(1) {
    display: inline-block; /*Both Inline * Block*/
    font-family: sans-serif; /*Set Font Type*/
    font-size: 20px; /*Set Font Size*/
    margin: 25px; /*Adds Margin*/
    border: 4px solid blueviolet; /*Set Border Color & Thickness*/
    box-shadow: 10px 10px 10px red; /*Set Box Shadow Direction, Blur, & Color*/
    line-height: 100px; /*Adjust Text Height*/
    text-align: center;  /*Centers Text*/
    width: 200px; /*Set Width*/
    height: 200px; /*Set Height*/
}

div:nth-child(2) {
    display: inline-block; /*Both Inline * Block*/
    font-family: sans-serif; /*Set Font Type*/
    font-size: 20px; /*Set Font Size*/
    margin: 25px; /*Adds Margin*/
    border: 4px solid greenyellow; /*Set Border Color & Thickness*/
    box-shadow: inset 10px 10px 10px black; /*Set Box Shadow Direction, Blur, & Color*/
    line-height: 100px; /*Adjust Text Height*/
    text-align: center;  /*Centers Text*/
    width: 200px; /*Set Width*/
    height: 200px; /*Set Height*/
}

div:nth-child(3) {
    display: inline-block; /*Both Inline * Block*/
    font-family: sans-serif; /*Set Font Type*/
    font-size: 20px; /*Set Font Size*/
    margin: 25px; /*Adds Margin*/
    box-shadow: 0 0 0 4px orange, /*Set Box Shadow Direction, Blur, & Color*/
                0 0 0 13px blue,
                0 0 0 23px red,
                0 0 0 33px green;
    border-radius: 15px; /*Rounds Border Edges*/
    line-height: 100px; /*Adjust Text Height*/
    text-align: center;  /*Centers Text*/
    width: 200px; /*Set Width*/
    height: 200px; /*Set Height*/
}

div:nth-child(4) {
    display: inline-block; /*Both Inline * Block*/
    font-family: sans-serif; /*Set Font Type*/
    font-size: 20px; /*Set Font Size*/
    text-shadow: 5px 5px 1px black; /*Set Text Shadow Direction, Blur, & Color*/
    margin: 25px; /*Adds Margin*/
    border: 4px solid brown; /*Set Border Color & Thickness*/
    line-height: 100px; /*Adjust Text Height*/
    text-align: center;  /*Centers Text*/
    width: 200px; /*Set Width*/
    height: 200px; /*Set Height*/
}

body {
    margin: 100px auto; /*Center Body Through Margin*/
    width: max-content; /*Set Width*/
}
