.about_bg{
    position: relative; /*Ensure Relative Positioning*/
    text-align: center; /*Centers Text*/
    color: white; /*Set Font Color*/
    width: 100%; /*Ensures Content Take Up Full Width*/
    margin-top: 0px; /*Remove Margin Around Content*/
}

.about_text {
    position: absolute; /*Ensure Precise Positioning*/
    top: 50%; /*Move Content From Top*/
    left: 50%; /*Move Content From Left*/
    transform: translate(-50%,-50%); /*Ensure Precise Center Position*/
    text-align: center; /*Centers Text*/
}

.about_text p{
    color: #442F29; /*Set Font Color*/
    font-family: 'Georgia'; /*Set Font Type*/
    font-size: 17px; /*Set Font Size*/
    text-align: center; /*Centers Text*/

}