@font-face{ /*Define Custom Font*/
    font-family: 'Aston'; /*Custom Font*/ 
    src: url(Aston\ Script.ttf) format('truetype'); /*Custom Font Link*/
}

.contact_bg {
    position: relative; /*Ensure Relative Positioning*/
    text-align: center; /*Centers Text*/
    color: white; /*Set Font Color*/
}

.contact_message {
    position: absolute; /*Ensure Precise Positioning*/
    top: 130px; /*Move Content From Top*/
    left: 230px; /*Move Content From Left*/
    color: #442F29; /*Set Font Color*/
    font-family: 'Aston'; /*Set Font Type*/
    font-size: 30px; /*Set Font Size*/
    text-align: center; /*Centers Text*/
}

.contact_text {
    position: absolute; /*Ensure Precise Positioning*/
    top: 195px; /*Move Content From Top*/
    left: 250px; /*Move Content From Left*/
    color: #442F29; /*Set Font Color*/
    font-family: 'Georgia'; /*Set Font Type*/
    font-size: 18px; /*Set Font Size*/
    text-align: center; /*Centers Text*/
}

.recipe_inquiries {
    position: absolute; /*Ensure Precise Positioning*/
    top: 250px; /*Move Content From Top*/
    left: 250px; /*Move Content From Left*/
    color: #442F29; /*Set Font Color*/
    font-family: 'Georgia'; /*Set Font Type*/
    font-size: 18px; /*Set Font Size*/
    text-align: left; /*Align Text to Left*/
    gap: 30px; /*Add Spacing Between Items*/
}

.recipe_inquiries p, .recipe_inquiries_1 p {
    margin-bottom: 25px; /*Add Bottom Margin for Spacing*/
}

.recipe_inquiries input {
    width: 300px; /*Set Input Width*/
    padding: 5px; /*Add Padding Around Content*/
    color:#442F29; /*Set Font Color*/
    font-family: 'Georgia'; /*Set Font Type*/
    font-size: 18px; /*Set Font Size*/
}

.recipe_inquiries_1 {
    position: absolute; /*Ensure Precise Positioning*/
    display: flex; /*Display Items Horizontally*/
    vertical-align: top; /*Align Items at Top*/
    top: 430px; /*Move Content From Top*/
    left: 250px; /*Move Content From Left*/
    color: #442F29; /*Set Font Color*/
    font-family: 'Georgia'; /*Set Font Type*/
    font-size: 18px; /*Set Font Size*/
    text-align: left; /*Align Text to Left*/
}

.recipe_inquiries_1 label {
    display: block; /*Turn Items Block-Level*/
    margin-top: 10px; /*Add Top Margin for Spacing*/
    margin-bottom: 5px; /*Add Bottom Margin for Spacing*/
    margin-right: 5px; /*Add Right Margin for Spacing*/
}

.recipe_inquiries_1 textarea {
    width: 350px; /*Set Text Area Width*/
    height: 100px; /*Set Text Area Height*/
    padding: 5px; /*Add Padding Around Content*/
    padding-top: 10px; /*Add Top Padding*/
    color:#442F29; /*Set Font Color*/
    font-family: 'Georgia'; /*Set Font Type*/
    font-size: 18px; /*Set Font Size*/
    resize: none; /*To Avoid Resizing TextArea*/
}

.contact_button {
    position: absolute; /*Ensure Precise Positioning*/
    top: 565px; /*Move Content From Top*/
    left: 575px; /*Move Content From Left*/
    background-color: #edecd8; /*Set Background Color*/
    color: #442F29; /*Set Font Color*/
    font-size: 18px; /*Set Font Size*/
    font-family: 'Georgia'; /*Set Font Type*/
    padding: 10px 20px; /*Add Padding Inside Content*/
    border: 2px solid #442F29; /*Set Top Border Color & Thickness*/
    border-radius: 10px; /*Make Border Edges Round*/
    text-align: center; /*Centers Text*/
    text-decoration: none; /*Removes Font Decoration*/
    cursor: pointer; /*Display Pointer Cursor*/
}

.contact_button:hover {
    background-color:rgb(94, 147, 149); /*Set Background Color*/
    color: #e7e5b1; /*Set Font Color*/
    border: 2px solid rgb(94, 147, 149); /*Set Top Border Color & Thickness*/
    cursor: pointer; /*Display Pointer Cursor*/
}