@font-face{ /*Define Custom Font*/
    font-family: 'Aston'; /*Custom Font*/
    src: url(Aston\ Script.ttf) format('truetype'); /*Custom Font Link*/
}

.homepage_bg {
    position: relative; /*Ensure Relative Positioning*/
    text-align: center; /*Centers Text*/
    color: white; /*Set Font Color*/
}

.home_title {
    position: absolute; /*Ensure Precise Positioning*/
    top: 50%; /*Move Content From Top*/
    left: 50%; /*Move Content From Left*/
    transform: translate(-50%,-50%); /*Ensure Precise Center Position*/
    color: #edecd8; /*Set Font Color*/
    font-family: 'Aston'; /*Set Font Type*/
    font-size: 25px; /*Set Font Size*/
    text-align: center; /*Centers Text*/
    width: 100%; /*Ensures Content Take Up Full Width*/
}

.home_description {
    position: absolute; /*Ensure Precise Positioning*/
    top: 50%; /*Move Content From Top*/
    left: 50%; /*Move Content From Left*/
    transform: translate(-50%,-50%); /*Ensure Precise Center Position*/
    margin-top: 60px; /*Add Top Margin for Spacing*/
    color: #edecd8; /*Set Font Color*/
    font-family: 'Georgia'; /*Set Font Type*/
    font-size:20px; /*Set Font Size*/
    text-align: center; /*Centers Text*/
    width: 100%; /*Ensures Content Take Up Full Width*/
}

.home_line {
    position: absolute; /*Ensure Precise Positioning*/
    top: 50%; /*Move Content From Top*/
    left: 50%; /*Move Content From Left*/
    transform: translate(-50%,-50%); /*Ensure Precise Center Position*/
    margin-top: 90px; /*Add Top Margin for Spacing*/
    color: #edecd8; /*Set Font Color*/
    font-size:20px; /*Set Font Size*/
    text-align: center; /*Centers Text*/
    width: 100%; /*Ensures Content Take Up Full Width*/
}

.home_button {
    position: absolute; /*Ensure Precise Positioning*/
    top: 50%; /*Move Content From Top*/
    left: 50%; /*Move Content From Left*/
    transform: translate(-50%,-50%); /*Ensure Precise Center Position*/
    margin-top: 135px; /*Add Top Margin for Spacing*/
    background-color: #edecd8; /*Set Background Color*/
    color: #442F29; /*Set Font Color*/
    font-size:20px; /*Set Font Size*/
    font-family: 'Georgia'; /*Set Font Type*/
    padding: 10px 20px; /*Add Padding Inside Content*/
    border: 2px solid #442F29; /*Set Top Border Color & Thickness*/
    border-radius: 10px; /*Make Border Edges Round*/
    text-align: center; /*Centers Text*/
    text-decoration: none; /*Removes Font Decoration*/
    cursor: pointer; /*Display Pointer Cursor*/
}

.home_button:hover {
    background-color: #442F29; /*Set Background Color*/
    color: #edecd8; /*Set Font Color*/
    cursor: pointer; /*Display Pointer Cursor*/
}