.recipe_bg {
    position: absolute; /*Ensure Precise Positioning*/
    display: flex; /*Display Items Horizontally*/
    text-align: center; /*Centers Text*/
    gap: 35px; /*Add Spacing Between Items*/
}

.recipe_bg_image {
    width: 350px; /*Set Image Width*/
    height: 900px; /*Set Image Height*/
    margin-left: 25px; /*Add Left Margin for Spacing*/
    margin-top: 35px; /*Add Top Margin for Spacing*/
}

.recipe_links li{
    display: flex; /*Display Items Horizontally*/
    align-items: center; /*Align Items in Center-Vertically*/
    color: #442F29; /*Set Font Color*/
    font-family: 'Georgia'; /*Set Font Type*/
    font-size: 17px; /*Set Font Size*/
    text-align: center; /*Centers Text*/
    text-decoration: none; /*Removes Font Decoration*/
    margin-bottom: 5px; /*Add Bottom Margin for Spacing*/
}

.recipe_links a{
    display: flex; /*Display Items Horizontally*/
    align-items: center; /*Align Items in Center-Vertically*/
    color: #442F29; /*Set Font Color*/
    font-family: 'Georgia'; /*Set Font Type*/
    font-size: 17px; /*Set Font Size*/
    text-align: center; /*Centers Text*/
    text-decoration: none; /*Removes Font Decoration*/
    gap: 10px; /*Add Spacing Between Items*/
}

.recipe_links img {
    margin-top:5%; /*Add Top Margin for Spacing*/
}
