@font-face{ /*Define Custom Font*/
    font-family: 'Aston'; /*Custom Font*/
    src: url(Aston\ Script.ttf) format('truetype'); /*Custom Font Link*/
}

.recipe_ingredients{
    color: 	#442F29; /*Set Font Color*/
    text-align: center; /*Centers Text*/
    text-decoration: none; /*Removes Font Decoration*/
    font-size: 20px; /*Set Font Size*/
    font-family: 'Aston'; /*Set Font Type*/
}

.recipe_ingredients_list ul {
    column-count: 2; /*Divide Content Into Two Columns*/
    list-style: none; /*Removes List Style*/
    list-style-position: inside; /*Ensures List Markers Inside Content*/
    text-align: left; /*Align Text to Left*/
    margin-left: 15%; /*Add Left Margin for Spacing*/
}
  
.recipe_ingredients_list li {
    color: 	#442F29; /*Set Font Color*/
    text-align: left; /*Align Text to Left*/
    justify-content: center; /*Align Items Center-Horizontally*/
    font-family: 'Georgia'; /*Set Font Type*/
    font-size: 16px; /*Set Font Size*/
    margin-bottom: 10px; /*Add Bottom Margin for Spacing*/
    padding-left: 0%; /*Remove Left Padding*/
}
  
.recipe_ingredients_list li:before {
    content: "♥"; /*Display "♥"*/
    color: 	#442F29; /*Set Font Color*/
    font-size: 16px; /*Set Font Size*/
    margin-right: 15px; /*Add Right Margin for Spacing*/
    gap: 10px; /*Add Spacing Between Items*/
}