.bookpages{
    background-color: #edecd8; /*Set Background Color*/
    overflow: hidden; /*Hide Overflow Content*/
    border-top: 1px solid black; /*Set Top Border Color & Thickness*/
    border-bottom: 1px solid black; /*Set Bottom Border Color & Thickness*/
    width: 100%; /*Ensures Content Take Up Full Width*/
    display: flex; /*Display Items Horizontally*/
    gap: 20px; /*Add Spacing Between Items*/
    justify-content: center; /*Align Items Center-Horizontally*/
    align-items: center; /*Align Items Center-Vertically*/
    padding: 10px; /*Add Padding Around Content*/
}

.bookpages a{
    color: 	#442F29; /*Set Font Color*/
    text-align: center; /*Centers Text*/
    padding: 10px 15px; /*Add Padding Inside Content*/
    text-decoration: none; /*Removes Font Decoration*/
    font-size: 17px; /*Set Font Size*/
    display: flex; /*Display Items Horizontally*/
}

.bookpages a:hover{
    background-color: #442F29; /*Set Background Color*/
    color: #edecd8; /*Set Font Color*/
}