@font-face{ /*Define Custom Font*/
    font-family: 'Aston'; /*Custom Font*/
    src: url(Aston\ Script.ttf) format('truetype'); /*Custom Font Link*/
}

.recipe_title{
    color: 	#442F29; /*Set Font Color*/
    text-align: center; /*Centers Text*/
    text-decoration: none; /*Removes Font Decoration*/
    font-size: 20px; /*Set Font Size*/
    font-family: 'Aston'; /*Set Font Type*/
    margin-top: 25px; /*Add Top Margin for Spacing*/
    margin-bottom: 3px; /*Add Bottom Margin for Spacing*/
    padding: 0px; /*Remove Padding Around Content*/
}

.recipe_description {
    color: 	#442F29; /*Set Font Color*/
    text-align: center; /*Centers Text*/
    text-decoration: none; /*Removes Font Decoration*/
    font-size: 15px; /*Set Font Size*/
    font-family:'Georgia'; /*Set Font Type*/
    margin-top:3px; /*Add Top Margin for Spacing*/
    margin-bottom:20px; /*Add Bottom Margin for Spacing*/
    padding: 0px; /*Remove Padding Around Content*/
}

h1,p {
    margin: 0px; /*Remove Margin Around Content*/
    padding: 0px; /*Remove Padding Around Content*/
}
